@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrossel de Imagens</title>
    <!-- Inclua os links para as bibliotecas Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="profile-info">
        <h1>Régis Erthal</h1>
        <p>Brasileiro, 29 anos, casado</p>
        <p>Rua 20 de Agosto, 144, Parobé – RS</p>
        <p>Telefone: (51) 9 9731-6174</p>
        <p>E-mail: regis.erthal.93@gmail.com</p>
        <p>LinkedIn: <a href="www.linkedin.com/in/regis-erthal">www.linkedin.com/in/regis-erthal</a></p>
    </div>
</body>
</html>