@{
    ViewData["Title"] = "Home Page";
}
<html lang="en">
<head>
    <title>Currículo</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;

        }

        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        h1, h2, h3 {
            color: #333;
        }
        p {
            color: #666;
        }

        .profile-container {
            display: flex;
            align-items: flex-start;
        }

        .profile-image {
            width: 90px; 
            height: auto; 
            border-radius: 5px;
            margin-left: auto;
        }

        .profile-info {
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <div class="container">

        <div class="profile-container">
            <div class="profile-info">
                <h1>Régis Erthal</h1>
                <p>Brasileiro, 29 anos, casado</p>
                <p>Rua 20 de Agosto, 144, Parobé – RS</p>
                <p>Telefone: (51) 9 9731-6174</p>
                <p>E-mail: regis.erthal.93@gmail.com</p>
                <p>LinkedIn: <a href="www.linkedin.com/in/regis-erthal">www.linkedin.com/in/regis-erthal</a></p>
            </div>
            <img src="~/img_20191207_194239.jpg" alt="Imagem de Perfil" class="profile-image img-fluid">
        </div>

        <h2>Formação</h2>
        <p>
            - Ensino Superior – Tecnólogo em Sistemas para Internet - Em Andamento<br>
            FACCAT - Faculdades Integradas de Taquara;<br>
            - Técnico em Eletrônica – Concluído em 2012<br>
            CIMOL-Escola Técnica Estadual Monteiro Lobato-Centro de Referências em Graduação Profissional.
        </p>

        <h2>Experiência</h2>
        <p>
            - Smark Tecnologia da Informação LTDA (Porto Alegre - RS, <a href="https://www.smark.com.br/">https://www.smark.com.br/</a>) – de setembro de 2022 até o momento - Desenvolvedor Pleno, (desenvolvedor Full Stack atuando na criação, manutenção do sistema web de CRM, utilizando Asp.Net Core MVC, .Net Core , Entity Framework Core, versionamento de projeto com Git e Azure DevOps, utilização de metodologias ágeis, SQL).
        
        </p>
        <p>
            -SELLERSFUNDING CORP. (NY - USA, https://sellersfunding.com)  – de junho de 2021 a agosto de 2022 - Junior Developer II, (desenvolvimento de APIs para coleta de dados de diversos Marketplaces utilizando o framework .Net Core, criação de Azure Functions, criação de micro serviços com MVC e Vue.Js , gerenciamento e versionamento  de projeto com Git e Azure DevOps, utilização de metodologias ágeis, SQL).
        </p>
        <p>
            -CIGAM SOFTWARE CORPORATIVO SA (Novo Hamburgo - RS, https://www.cigam.com.br/) – de outubro de 2019 a junho de 2021 - Analista de suporte (atendimento ao cliente, detecção de divergências em novos releases e aplicação de corretivas);
        </p>
        <p>
            - Smark Tecnologia da Informação LTDA (Porto Alegre - RS, <a href="https://www.smark.com.br/">https://www.smark.com.br/</a>) – de setembro de 2022 até o momento - Desenvolvedor Pleno, (desenvolvedor Full Stack atuando na criação, manutenção do sistema web de CRM, utilizando Asp.Net Core MVC, .Net Core , Entity Framework Core, versionamento de projeto com Git e Azure DevOps, utilização de metodologias ágeis, SQL).

        </p>
        <p>
            iBRsistemas ERP – (Parobé - RS, https://www.ibrsistemas.com.br/) –de fevereiro de 2017 a outubro de 2019 - Analista de suporte, atendimento ao cliente, implantação de sistemas, migração de banco de dados, gestão de equipe e uso de metodologias ágeis;
            -Unitel Comércio de Equipamento de Telecom LTDA (Taquara - RS, https://www.uniteltelecom.com/ )– de junho/2012 a fevereiro/2017 - Técnico em Telecom (Manutenção e programação em equipamentos, Alcatel-Lucent, NEC, Leucotron e Intelbras);

        </p>

        <h2>Experiência com as seguintes ferramentas</h2>
        <p>
            Visual Studio, Visual Studio Code, Azure Data Studio, MySql, SQL Server, DBeaver, Jira, Figma, Trello, Teams, Postman, Git, Azure Dev Ops, Ngrok e Pacote Office.
        </p>

        <h2>Qualificações adicionais</h2>
        <p>
            - Inglês Intermediário;<br>
            - Espanhol Básico;<br>
            - CNH categoria AD.
        </p>
    </div>
</body>
</html>